<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Food Options</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Foods</a>
            </li>
            <li class="active">
                <strong>Food list</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-3" ng-repeat="food in selectedFood">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation">
                        <img src="{{food.foodItem.assetType.imageUrl}}" style="max-width: 90%;"/>
                    </div>
                    <div class="product-desc">
                        <span>{{ food.foodItem.id }}</span>
                        <pre>{{food.foodItem.assetType | json}}</pre>
                        <span class="product-price">
                                    <i class="fa-btc"/> {{food.foodItem.amount}}
                                </span>
                        <small class="text-muted">{{food.foodItem.assetType.category}}</small>
                        <a href="#" class="product-name"> {{food.foodItem.assetType.provider.name | uppercase }}</a>

                        <div class="small m-t-xs">
                            {{ food.foodItem.assetType.description }}
                        </div>

                        <select name="singleSelect" id="singleSelect" ng-model="food.id" ng-change="update(food)" >
                            <option value="">---Please select---</option> <!-- not selected / blank option -->
                            <option ng-repeat="foodOption in assetdata.assets" value="{{foodOption.id }}">
                                {{foodOption.assetType.title}}
                            </option>
                        </select>
                        <div class="m-t text-righ">
                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i
                                    class="fa fa-long-arrow-right"></i> </a>
                        </div>

                        <pre>{{food.foodItem | json}}</pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <a ui-sref="assets.assets_grid_market">
                Spice the food
            </a>
        </div>
    </div>


</div>


</div>